version: '3.9'
services:
  backend:
    build: ./backend
    environment:
      - SECRET_KEY=supersecretkey
      - USERNAME=admin
      - PASSWORD=admin123
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/backend
    restart: unless-stopped
  caddy:
    image: caddy:2.10.2-alpine
    restart: unless-stopped
    ports:
    - "443:443"
    - "8080:80"
    volumes:
    - ./Caddyfile:/etc/caddy/Caddyfile
    - caddy_data:/data
    - caddy_config:/config
    - ./frontend/dist:/srv
    depends_on:
      - backend
volumes:
  caddy_data:
  caddy_config: