version: '3.9'
services:
  backend:
    build: ./backend
    ports:
      - "80:5000"
    volumes:
      - ./backend:/backend
      - ./frontend/dist:/frontend/dist
    restart: unless-stopped
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
    - "443:443"
    - "8080:80"
    volumes:
    - ./Caddyfile:/etc/caddy/Caddyfile
    - caddy_data:/data
    - caddy_config:/config
    - ./frontend/dist:/srv
    depends_on:
    - backend
volumes:
  caddy_data:
  caddy_config: